body {
    font-family: 'Poppins', sans-serif;
}

.login-wrapper {
    background-color: aliceblue;
}

.quizzy-name {
    font-size: 62px;
    font-weight: bold;
}

.greeting-text {
    font-size: 20px;
}

.landing-page {
    background: linear-gradient(122.76deg, #3550dc -35.72%, #27e9f7 172.73%);
}

.fail-text {
    color: red;
}

.success-text {
    color: green;
}

.icon-img1 {
    position: absolute;
    top: 0;
    margin-top: -8px;
}

.icon-img2 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.landing-page-header {
    color: #FFF;
}

.landing-page-subheading {
    font-size: 11px;
}

.landing-page-main {
    background-color: #FFF;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 30px 0;
}

.landing-page .btn-quiz {
    background: linear-gradient(122.76deg, #3550dc -35.72%, #27e9f7 172.73%);
    color: #FFF;
    background-color: rgb(249, 252, 255);
}

.go-back {
    display: flex;
}

.icon-img {
    margin-top: 40px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.logo-header {
    margin-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-main {
    margin-top: 60px;
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* width: fit-content; */
    width: 40%;
    height: fit-content;
    /* padding-bottom: 26%; */
}

.login-text {
    color: blue;
}

.login-top-header {
    margin-top: 20px;
}

.login-info {
    color: black;
    font-size: 12px;
}

.email-phone {
    color: rgb(53, 52, 52);
    font-weight: 500;
    display: flex;
    justify-content: start;
    font-size: 12px;
    margin-top: 20px;
}

.invalid {
    border: 1px solid red;
}


.input-email {
    /* font-size: 16px;
    height: 57px; */
    border: none;
    background-color: rgb(229, 235, 238);
    border-radius: 5px;
    color: #edf2f7;
    padding: 0.8em 1.4em 0.8em 1.4em;
    width: 100%;
    color: #000;
    font-size: 16px;
}

.input-pwd {
    /* font-size: 16px;
    height: 57px; */
    border: none;
    background-color: rgb(229, 235, 238);
    border-radius: 5px;
    color: #edf2f7;
    padding: 0.8em 1.4em 0.8em 1.4em;
    width: 100%;
    color: #000;
    font-size: 16px;
}

.input-email:focus {
    outline: none;
}

.input-pwd:focus {
    outline: none;
}

.error-email {
    color: red;
    font-size: 12px;
    text-align: right;
    margin-top: 10px;
}

.error-pwd {
    color: red;
    font-size: 12px;
    text-align: right;
    margin-top: 10px;
}

.invalid {
    border: 1px solid red;
}

.login-btn {
    background-color: blue;
    color: #fff;
    padding: 0.8em 1.4em 0.8em 1.4em;
    border: none;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 500;
    border-radius: 4px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.footer-part {
    margin-top: 60px;
    cursor: pointer;
}

.footer-part a {
    text-decoration: none;
    color: #fff;
}

.footer-part a:hover {
    color: cadetblue;
}

.change-question-btn {
    width: 75%;
    margin: auto;
}

@media screen and  (max-width: 760px) {
    .login-main {
        width: 60%;
    }

    .change-question-btn {
        width: 100%;
        margin: 0 9px;
    }

}

@media screen and  (max-width: 500px) {
    .login-main {
        width: 70%;
    }
}

.quiz_body {
  background: linear-gradient(122.76deg, #3550dc -35.72%, #27e9f7 172.73%);
}
.timer {
  background: -webkit-linear-gradient(
    122.76deg,
    #3550dc -35.72%,
    #27e9f7 172.73%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav_bar a {
  background: #d4d4d4;
  border-radius: 100%;
  margin: 10px 10px 20px;
  color: white;
}
.nav_bar a.active {
  background: linear-gradient(122.76deg, #3550dc -35.72%, #27e9f7 172.73%);
  color: #FFF;
}
.nav_bar li {
  border-bottom: 4px solid #d4d4d4;
}
.nav_bar li.active {
  border-bottom: 4px solid #3550dc;
}
.bg_gay {
  background: #d4d4d4;
  margin: 10px 10px;
  color: white;
  padding: 8px 16px;
}
.selected-round {
  background: linear-gradient(122.76deg, #3550dc -35.72%, #27e9f7 172.73%);
}
.selected-text {
  background: -webkit-linear-gradient(
    122.76deg,
    #3550dc -35.72%,
    #27e9f7 172.73%
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
